<<<<<<< HEAD
=======
/* final.css */
/* Author: Julianne Leow */
/* Create Date: 26 April 2017 */
/*


/*--------------------------*/
/*========= Reset =========*/
/*--------------------------*/

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html, body, div
{
    margin: 0;
    padding: 0;
}

/*--------------------------*/
/*========= HEADER =========*/
/*--------------------------*/

#header
{
    background-color: #336B87;
    width: 1000px;
    height: 220px;
    text-align: center;
    padding: 1em;
}

.navlinks
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navlinks a
{
    margin: 0;
    padding: 0px 0px 8px 0px;
    color: #233237;
}

.navlinks ul li
{
    display: inline;
    margin-right: 30px;
}

.navlinks li a.current, .navlinks li a:hover
{
    color: #763626;
}

#header h1
{
    font-family: 'Macondo', cursive;
    font-size: 2.5em;
    color: #2A3132;
}

#header h2
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #2A3132;
}

/*--------------------------*/
/*========== BODY ==========*/
/*--------------------------*/

body
{
    background-color: #2A3132;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #90AFC5;
    padding: 0;
    margin:0;
}

.pagewrapper
{
    margin: 0 auto;
}

.content
{
    max-width: 700px
    margin: 0 auto;
    align-items: center;
}

h1, h2
{
    font-family: 'Macondo', cursive;
    color: #763626;
}

h3
{
    font-weight: lighter;
    font-family: 'Macondo', cursive;
}

.title
{
    text-align: center;
    padding: 5px;
}

a:link
{
    color: #66a5ad;
}

a:visited
{
    color: #48747a;

}

a:hover
{
    color: #763626;
}

blockquote
{
    float: right;
    width: 150px;
    font-size: 120%;
    font-family: 'Macondo', cursive;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}

/*--------------------------*/
/*======= SLIDESHOW ========*/
/*--------------------------*/

*
{
    box-sizing:border-box
}

/* Slideshow container */
.slideshowContainer
{
  max-width: 700px;
  position: relative;
  margin: auto;
}

.mySlides
{
    display: none;
}

/* Next & previous buttons */
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #336b87;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/7 etc) */
.numbertag {
  color: #336b87;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--------------------------*/
/*========== FORM ==========*/
/*--------------------------*/

input:focus, textarea:focus
{
    border:1px solid;
    border-color: #b56357;
}

.submit, .reset
{
    background: #90afc5;
    border: none;
    margin-right: 20px;
    padding: 10px 25px 10px 25px;
    color: #2a3132;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-radius: 4px;
    box-shadow: 1px 1px 1px #3d3d3d;
    -moz-box-shadow: 1px 1px 1px #3d3d3d;
    -webkit-box-shadow: 1px 1px 1px #3d3d3d;
}

.submit:hover, .reset:hover
{
    color: #333;
    background-color: #ebebeb;
}

/*--------------------------*/
/*========= FOOTER =========*/
/*--------------------------*/

footer
{
    background-color: #336B87;
    width: 1000px;
    height: 50px;
    text-align: center;
    margin-top: auto;
    padding-top: 15px;
    clear: both;
}
>>>>>>> 9e9cc56af04e22d3fb9a4408d78fca52fa657aa3
