/* wire.css */
/* Author: Julianne Leow */
/* Create Date: 05 April 2017 */

body
{
    background-color: #90afc5;
}

h1
{
    font-family: 'Walter Turncoat', cursive;
    font-size: 26px;

    color: #763626;
}

p, figcaption
{
    font-family: 'Schoolbell', cursive;
    font-size: 18px;

    color: #2a3132;
}

img
{
    margin-left: 30px;
    
}
